<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

        <title>App</title> <!-- Change me -->

        <link rel="shortcut icon" href="images/favIcon.svg">

        <!-- styles -->
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>