:root {
    /* Insert globabl css variables here */
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* To make 1 rem = 10px */
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}